/* Text presets */

@mixin text-preset-1() {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
}

@mixin text-preset-2() {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
}
