/* Colors */

$color-slate-900: '#1f314f';
$color-slate-500: '#68778d';
$color-slate-300: '#d5e1ef';

$color-blue-600: '#2c7dfa';
$color-blue-500: '#3685ff';

$color-white: '#ffffff';

/* Spacing */

$spacing-500: '40px';
$spacing-300: '24px';
$spacing-200: '16px';
