@use "../abstracts";

.qr-code {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: abstracts.$color-white;
  border-radius: 20px;
  padding: abstracts.$spacing-200;
  padding-bottom: abstracts.$spacing-500;

  &__image {
    // margin-bottom: abstracts.$spacing-300;
    margin-bottom: 21px;
  }

  &__wrapper {
    text-align: center;
    padding: 0 abstracts.$spacing-200;
  }

  &__heading {
    margin-bottom: abstracts.$spacing-200;
    color: abstracts.$color-slate-900;

    @include abstracts.text-preset-1();
  }

  &__text {
    color: abstracts.$color-slate-500;

    @include abstracts.text-preset-2();
  }
}
